:root {
  --dark-fon-color: #191C26;
  --light-fon-color: #F7F7F7;
  --accent-color: #FF6C00;
  --primary-title-color: #303030;
  --primary-text-color: #555555;
  --secondary-text-color: #FFFFFF;
  --price-color: #9DA4BD;
  --text-color: rgba(157, 164, 189, 0.6);
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  /* width: 1200px;*/
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-fon {
  display: flex;
  /*background-color: var(--dark-fon-color);*/
  flex-grow: 1;
}

.nav {
  display: flex;
}

.logo {
  margin-top: 32px;
  margin-right: 31px;
}

.navigation__list {
  display: flex;
  gap: 30px;
  margin-left: 131px;
}

.navigation__link {
  padding: 52px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact__link {
  padding: 52px 0;
  margin-right: 43px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color);
}

.header-contact__btn {
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  margin-right: 17px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: transparent;
  transition: background-color 250ms linear;
}

.header-contact__btn:hover,
.header-contact__btn:focus {
  background-color: var(--accent-color);
}

.header {
  position: absolute;
  width: 100%;
}

.hero-box {
  display: flex;
}

.hero-soc__list {
  display: flex;
  transform: rotate(-90deg);
  transform-origin: top left;
  gap: 40px;
  align-items: center;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
}

.hero-soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.hero-content {
  padding: 272px 100px 208px 100px;
  background-color: var(--dark-fon-color);
  flex-grow: 1;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-title-color);
  transition: color 250ms linear;
}

.hero-soc__link:hover,
.hero-soc__link:focus {
  color: var(--accent-color);
}

.hero-content__subtext {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-content__title {
  margin-top: 20px;
  font-family: "Raleway";
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.hero-content__text {
  max-width: 360px;
  margin-top: 20px;
  color: var(--price-color);
}

.hero-content__subtext::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.about-box {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 767.98px) {
  .about-list {
    display: none;
  }
}

.about-content {
  width: 470px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-content {
    width: 330px;
  }
}

.about .text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.about-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}
@media screen and (max-width: 1199.98px) {
  .about-title {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (max-width: 767.98px) {
  .about-title {
    max-width: 306px;
  }
}

.about-text {
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .about-text {
    font-size: 16px;
    line-height: 1.63;
  }
}

.about-subtext {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
}

.about-btn {
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background-color: transparent;
  transition: background-color 250ms linear, color 250ms linear;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.prices-container {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
@media screen and (max-width: 1199.98px) {
  .prices-container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .prices-box {
    display: none;
  }
}

.prices {
  background-color: #111319;
  background-image: url(../images/prices-bg-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-color: #111319;
    background-image: url(../images/prices-bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-color: #111319;
    background-image: url(../images/prices-bg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-bg-2x.png);
  }
}

.prices .text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.prices-title {
  font-family: "Raleway";
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .prices-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.prices-list {
  padding: 30px 20px;
  width: 100%;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.secondary-price {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-text {
  color: var(--price-color);
  display: flex;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item:nth-child(n+2) {
  margin-top: 20px;
}

.prices-btn {
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  margin: 0 auto;
  margin-top: 44px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: transparent;
  transition: background-color 250ms linear;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--accent-color);
}

.prices-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-text:last-child {
  order: 1;
}

.school-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .school-content {
    display: flex;
    flex-direction: row;
  }
}

.school-box {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .school-box {
    width: 480px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .school-box {
    width: 400px;
    margin: 0 100px;
  }
}

.school-container {
  padding: 0 15px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .school-container {
    margin-bottom: 0;
    width: 40%;
  }
}

.school-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}

.school-item .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-title-color);
}

.school-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.school-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.school-subtext {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .school-subtext {
    width: 500px;
  }
}

.school-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}
@media screen and (min-width: 768px) {
  .school-title {
    width: 449px;
  }
}

.school-item {
  width: calc((100% - 60px) / 2);
  height: 133px;
  padding: 20px 24px;
  align-items: center;
  background-color: var(--light-fon-color);
}

span {
  display: block;
  display: flex;
  justify-content: center;
}

.school-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.school-item:nth-child(2) {
  margin-top: 35px;
}

.school-item:nth-child(3) {
  margin-top: -35px;
}

.school-icon {
  height: 22px;
}

.barbers {
  background-color: var(--light-fon-color);
}

.barbers-text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.barbers-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .barbers-text::before {
    margin-left: 150px;
  }
}

.barbers-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .barbers-title {
    margin-left: 150px;
  }
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .barbers-item {
    width: calc((100% - 90px) / 3);
  }
}

.barbers-subtitle {
  margin-top: 30px;
  margin-bottom: 8px;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-title-color);
}

.barbers-subtext {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
}

.network {
  max-width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--secondary-text-color);
  color: var(--primary-title-color);
}

.icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.portfolio-text {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.portfolio-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 120px) / 4);
  }
}

.booking {
  flex-basis: auto;
  background-color: var(--dark-fon-color);
}
@media screen and (min-width: 1200px) {
  .booking {
    padding-top: 130px;
    padding-bottom: 183px;
    padding-left: 116px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .booking {
    padding: 100px 25px;
  }
}
@media screen and (max-width: 767.98px) {
  .booking {
    padding: 84px 15px;
  }
}

.booking-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
  margin-bottom: 44px;
}

.booking-btn {
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  margin-right: auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: transparent;
  transition: background-color 250ms linear;
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: var(--accent-color);
}

.booking-input,
.booking-coment {
  position: relative;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  padding-left: 50px;
  cursor: pointer;
}

.booking-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.textarea-coment {
  width: 100%;
  resize: none;
  margin-top: 60px;
  margin-bottom: 44px;
}

.booking-box {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.booking-name,
.booking-tel {
  width: calc((100% - 60px) / 2);
}

.booking-input:hover,
.booking-coment:hover {
  border-bottom: 1px solid var(--secondary-text-color);
}

.contacts {
  background-color: var(--dark-fon-color);
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts {
    padding: 100px 25px;
  }
}
@media screen and (max-width: 767.98px) {
  .contacts {
    padding: 84px 15px;
  }
}

.contacts-title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.contacts-phone {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts-address {
  font-style: normal;
}

.address {
  font-weight: 700;
  color: var(--price-color);
}

.contacts-phone,
.contacts-mail {
  color: var(--price-color);
  transition: color 250ms linear;
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}

.contacts-text {
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-subtext {
  color: var(--price-color);
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-fon-color);
}
@media screen and (max-width: 1199.98px) {
  .box {
    flex-direction: column;
  }
}

.booking {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .booking {
    width: 615px;
  }
}

.contacts {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg-mob.png);
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 585px;
    padding-left: 100px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: url(../images/bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    background-image: url(../images/bg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/bg-2x.png);
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--price-color);
}

.footer-link {
  padding-top: 56px;
  padding-bottom: 56px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-title-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal {
  position: absolute;
  width: 530px;
  height: 580px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: var(--dark-fon-color);
  margin-bottom: 20px;
}

.form {
  padding: 40px;
}

.label-form {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.input-form {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  outline: none;
  transition: border-color 250ms linear;
}

.coment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms linear;
}

.label-checkbox {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-title-color);
}

.form-btn {
  margin: 30px auto;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: background-color 250ms linear, color 250ms linear;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.input-form:focus,
.coment:focus {
  border-color: var(--accent-color);
}

.link-form {
  color: var(--accent-color);
}

.modal-btn:hover {
  border-color: var(--accent-color);
}

.modal-btn:hover .close {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */