:root{
    --dark-fon-color: #191C26;
    --light-fon-color: #F7F7F7;
    --accent-color: #FF6C00;
    --primary-title-color: #303030;
    --primary-text-color: #555555;
    --secondary-text-color: #FFFFFF;
    --price-color: #9DA4BD;
    --text-color: rgba(157, 164, 189, 0.6);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
body{
    margin: 0;
}

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding-left: 0;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.list{
    list-style: none;
}

.link{
    display: block;
    text-decoration: none;
}

button{
    display: block;
    cursor: pointer;
}

img{
    display: block;
}
.section{
    padding: 120px 0;
}

/*-------------Header------------*/

.header-navigation{
    display: flex;
    align-items: center;
    
}
.header-fon{
    display: flex;
    background-color: var(--dark-fon-color);
    flex-grow: 1;
}
.nav{
    display: flex;
}
.logo{
    
    margin-top: 32px;
    margin-right: 31px;
}
.header-list{
    display: flex;
    gap: 30px;
    margin-left: 131px;
}

.header-nav{
    padding: 52px 0;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color);
}
.header-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.phone{
    padding: 52px 0;
    margin-right: 43px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color);
}

.header-btn{
    min-width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
    margin-right: 17px;

    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: transparent;
}

.header-btn:hover,
.header-btn:focus{
    background-color: var(--accent-color);
}

/*---------------------Section Hero---------------------*/

.hero-box{
    display: flex;    
}
.hero-list{
    width: 100px;
    
}

.hero-content{
    padding: 272px 100px 208px 100px;
    background-color: var(--dark-fon-color);
    flex-grow: 1;
}
.hero-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:var(--primary-title-color);
}

.hero-link:hover,
.hero-link:focus{
    color: var(--accent-color);
}

.hero-subtext{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
}

.hero-title{
    margin-top: 20px;
    
    font-family: 'Raleway';
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.hero-text{
    max-width: 360px;
    margin-top: 20px;

    color: var(--price-color);
}

/*------------------Section About-----------------*/

.about-box{
    display: flex;
    gap: 30px;
}
.about-list{
    display: flex;
    gap: 30px;
}
.about-content{
     width: 470px;
}
  
.about .text{
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.about-title{
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color:var(--primary-title-color);
}
.about-text{
    margin-bottom: 20px;
}
.about-subtext{
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.86;
}

.about-btn{
    min-width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--accent-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--primary-title-color);
    background-color: transparent;
}

.about-btn:hover,
.about-btn:focus{
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

/*--------------------Section Prices-------------------*/

.prices-container{
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
}

.prices{
    background-color: var(--dark-fon-color);
}

.prices .text{
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
}

.prices-title{
    margin-bottom: 44px;

    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.prices-list{
    padding: 30px 20px;
    width: 570px;

    background-color: var(--primary-title-color);
}

.prices-text{
   color: var(--price-color);
}

.prices-item{
    display: flex;
    justify-content: space-between;
}
.prices-item:nth-child(n+2){
    margin-top: 20px;
}

.prices-btn{
    min-width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
    margin: 0 auto;

    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: transparent;
}
.prices-btn:hover,
.prices-btn:focus{
    background-color: var(--accent-color);
}

/*-------------------Section School------------------*/

.school-content{
    display: flex;
}
.school-container{
    padding-top: 9px;
    
}

.school-item span{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color:var(--primary-title-color);
}

.school-item .text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--primary-title-color);
}

.school-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.school-subtext{
    max-width: 500px;
}
.school-title{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 430px;

    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color:var(--primary-title-color);
}

.school-item{
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    align-items: center;
    background-color: var(--light-fon-color);
}
span{
    display: block;
}
.school-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 370px;
}
.school-list:first-child{
    margin-left: 100px;
    margin-right: 130px;
}
.school-item:nth-child(2){
    margin-top: 35px;
}
.school-item:nth-child(3) {
    margin-top: -35px;
}



/*-----------------Section Barbers----------------*/

.barbers{
    background-color: var(--light-fon-color);
}

.barbers-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.barbers-title{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color:var(--primary-title-color);
}

.barbers-subtitle{
    line-height: 1.39;
    text-align: center;
    color:var(--primary-title-color);
}

.barbers-subtext{
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: var(--accent-color);
}

/*-----------------------Section Portfolio---------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.portfolio-text{
    margin-bottom: 44px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color:var(--primary-title-color);
}
.portfolio-list{
    display: flex;
    gap: 30px;
}

/*-------------Section Online-booking--------------*/

.booking{
    background-color: var(--dark-fon-color);
}
.booking-title{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color:var(--secondary-text-color);
}

/*--------------------Section Contacts----------------*/

.contacts{
    background-color: var(--dark-fon-color);
}

.contacts-title{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}
.contacts-address{
font-style: normal;
}

.address{
    font-weight: 700;
    color: var(--price-color);
}

.contacts-phone,
.contacts-mail{
    color: var(--price-color);
}
.contacts-mail:hover,
.contacts-mail:focus{
    color: var(--accent-color);
}

.contacts-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.contacts-subtext{
    color:var(--price-color);
}
/*-----------------Footer---------------*/

.footer-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:var(--price-color);
}
.footer-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--primary-title-color);
}

