.contacts {
    @media screen and (min-width: 1200px) {
            padding-top: 130px;
            padding-bottom: 120px;
    }

    background-color: var(--dark-fon-color);

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        padding: 100px 25px;
    }

    @media screen and (max-width: 767.98px) {
        padding: 84px 15px;
    }
}

.contacts-title {
    margin-bottom: 40px;

    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.contacts-phone {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts-address {
    font-style: normal;
}

.address {
    font-weight: 700;
    color: var(--price-color);
}

.contacts-phone,
.contacts-mail {
    color: var(--price-color);
    transition: color 250ms linear;
}

.contacts-mail:hover,
.contacts-mail:focus {
    color: var(--accent-color);
}

.contacts-text {
    margin-top: 70px;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts-text::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.contacts-subtext {
    color: var(--price-color);
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-fon-color);
    @media screen and (max-width: 1199.98px) {
       flex-direction: column; 
    }
}

.booking {
    width: 100%;

    @media screen and (min-width: 1200px) {
        width: 615px;
    }
   

}

.contacts {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 1200px) {
        width: 585px;
        padding-left: 100px;
    }
   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
    background-image: url(../images/bg-mob-2x.png);
   }
    background-image: url(../images/bg-mob.png);

    @media screen and (min-width: 768px) {
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
             background-image: url(../images/bg-tab-2x.png);
        }        
            background-image: url(../images/bg-tab.png);
    }

    @media screen and (min-width: 1200px) {
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/bg-2x.png);
            }
        
            background-image: url(../images/bg.png);
    }    
}