.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--price-color);
}

.footer-link {
    padding-top: 56px;
    padding-bottom: 56px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--primary-title-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
}