.portfolio-text {
    margin-bottom: 44px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primary-title-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.portfolio-text::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
    justify-content: center;  
}

.portfolio-item {
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px)/4);
    }
}