body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.container {
    width: 100%;
   /* width: 1200px;*/
    padding: 0 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.list {
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
    transition: color 250ms linear;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

button {
    display: block;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 84px 0;

    @media screen and (min-width:768px) {
        padding: 100px 0;
    }

    @media screen and (min-width:1200px) {
        padding: 120px 0;
    }   
}